.overlay {
  position: fixed;
  z-index: 222;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay__logotype {
  position: relative;
}
.overlay.hideAnimation {
  transition: 1s;
  opacity: 0;
}
.overlay.hide {
  z-index: -1;
}
.overlay.hide .logo__skull, .overlay.hide .logo__pen, .overlay.hide .logo__heart, .overlay.hide .logo__animItems {
  animation: none;
  opacity: 0;
}
.overlay.hide .logo__oLeft {
  animation: none;
}
.logo {
  height: 28px;
  width: 130px;
  position: relative;
}
.logo path, .logo rect {
  fill: white;
}
.logo__animItems {
  transform: translate(-8px, 15px);
}
.logo__oLeft {
  animation: 2s leftOAnimation cubic-bezier(0.65, 0.01, 0.62, 0.99) infinite;
}
.logo__full {
  transform: translateX(12px);
}
.logo__animItems {
  animation: 2s groupAnimation infinite;
  position: relative;
  width: 0;
  height: 0;
}
.logo__animItem {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__heart {
  animation: 6s heartAnim linear infinite;
  fill: #ff2d2d !important;
}
.logo__pen {
  animation: 6s penAnim linear infinite;
  fill: #54ff2d !important;
  position: relative;
  width: 14px;
  top: -10px;
}
.logo__code {
  animation: 6s penAnim linear infinite;
  fill: #54ff2d !important;
  position: relative;
  width: 32px;
  height: 10px;
  top: 2px;
}
.logo__code svg {
  width: 100%;
  height: 100%;
}
.logo__skull {
  animation: 6s skullAnim linear infinite;
  fill: #ffdd2d !important;
}
@keyframes penAnim {
  0%, 35% {
    opacity: 0;
  }
  36%, 63% {
    opacity: 1;
  }
  64%, 100% {
    opacity: 0;
  }
}
@keyframes skullAnim {
  0%, 65% {
    opacity: 0;
    transform: translateY(0);
  }
  66%, 100% {
    opacity: 1;
    transform: translateY(-5px);
  }
}
@keyframes heartAnim {
  0%, 32% {
    opacity: 1;
  }
  33%, 100% {
    opacity: 0;
  }
}
@keyframes hideAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes stopOAnimation {
  100% {
    transform: translateX(0);
  }
}
@keyframes groupAnimation {
  0% {
    transform: translate(41px, 5px);
    opacity: 0;
  }
  15%, 80% {
    transform: translate(41px, 5px);
    opacity: 1;
  }
  100% {
    transform: translate(41px, 5px);
    opacity: 0;
  }
}
@keyframes leftOAnimation {
  0% {
    transform: translateX(0px);
  }
  10%, 90% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}@font-face {
    font-family: 'Attentica 4F';
    src: local('Attentica 4F UltraLight'), url('/arts/assets/attentica4fultralight-96d4ae77.woff2') format('woff2'), url('/arts/assets/attentica4fultralight-407b036f.woff') format('woff'), url('/arts/assets/attentica4fultralight-97bd0702.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans Heavy';
    src: local('Fira Sans Ultra Italic'), local('FiraSans-UltraItalic'), url('/arts/assets/Firasansultraitalic-3f9dc708.woff2') format('woff2'), url('/arts/assets/Firasansultraitalic-afbbc610.woff') format('woff'), url('/arts/assets/Firasansultraitalic-e66782f6.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Fira Sans Heavy';
    src: local('Fira Sans Ultra'), local('FiraSans-Ultra'), url('/arts/assets/Firasansultra-d80e46e2.woff2') format('woff2'), url('/arts/assets/Firasansultra-733bdb36.woff') format('woff'), url('/arts/assets/Firasansultra-4c46183a.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Intro';
    src: local('Intro'), url('/arts/assets/intro-d17d9d89.woff2') format('woff2'), url('/arts/assets/intro-3d678292.woff') format('woff'), url('/arts/assets/intro-efc06cb6.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
body {
  background: #282428;
}
a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  dark: #535bf2;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 100%;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  width: 100%;
  margin: 0 0 20px;
  padding: 60px 0 0;
  color: white;
}
p {
  color: white;
  font-family: Montserrat;
  font-size: 20px;
  max-width: 80vh;
  margin: 0 auto;
  text-align: center;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
#gui {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 3;
}
#container {
  max-width: 100vw;
  position: absolute;
  z-index: 1;
}
.heading {
  position: relative;
  z-index: 2;
  width: 100%;
  pointer-events: none;
}
.heading__description {
  font-size: 16px;
  max-width: 600px;
}
.heading__description span {
  font-weight: bold;
  text-transform: uppercase;
  color: #ffdd2d;
}
.heading.hide {
  opacity: 0;
  z-index: 0;
}
.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 80vw;
  margin: 0 auto;
  padding-bottom: 100px;
}
.works__column {
  flex: 25%;
  max-width: calc(25% - 16px);
  padding: 8px 8px;
}
.works__item {
  margin-bottom: 16px;
  vertical-align: middle;
}
.description {
  position: absolute;
  bottom: 32px;
  z-index: 2;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 1rem;
  width: 100%;
  text-align: center;
}
#container {
  cursor: none;
}
.cursor, .cursorDot {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.4);
}
.cursorDot {
  border: none;
  height: 8px;
  width: 8px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cursorDot span {
  margin-top: 24px;
  color: white;
  font-size: 0.7rem;
  font-weight: 100;
  opacity: 0;
}
.cursorDot.isHovered span {
  opacity: 1;
}
.supportContent {
  overflow: hidden;
  transition: 0.3s linear;
  opacity: 0;
}
.supportContent.open {
  opacity: 1;
}
.tabs {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 2fr 2fr 1fr;
  margin-bottom: 24px;
  margin-top: 28px;
}
.tabs__contentItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 0 2rem;
  color: black;
  overflow: hidden;
  transition: 0.1s ease;
}
.tabs__contentItem_phone {
  overflow: hidden;
  user-select: none;
}
.tabs__contentItem_phone.active {
  overflow: visible;
}
.tabs__contentItem.active {
  visibility: visible;
}
.tabs__contentItem p {
  color: black;
}
.tabs__contentItem:hover {
  cursor: pointer;
}
.tabs__contentItem:hover .tabs__contentIcon svg path {
  fill: rgba(0, 0, 0, 0.5);
}
.tabs__item {
  padding: 8px 12px;
  background: white;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s ease;
  font-size: 0.9rem;
}
.tabs__item.active {
  background: #ffdd2d;
}
.tabs__item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}
.tabs__contentIcon {
  cursor: pointer;
  height: 22px;
  padding: 4px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}
.tabs__contentIcon svg {
  height: 100%;
}
.tabs__contentIcon svg path {
  fill: rgba(0, 0, 0, 0.3);
}
.qr {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background: transparent;
}
.qr:hover {
  cursor: default;
}
.qr img {
  width: 200px;
  height: 200px;
}
.qr p {
  margin-top: 8px;
  color: black;
  font-size: 0.8rem;
  font-weight: 100;
  pointer-events: none;
  user-select: none;
}
.qr p:nth-last-child(2) {
  margin-top: 24px;
}
.copySuccess {
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffdd2d;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 0.6rem;
  font-weight: 100;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.copySuccess.active {
  opacity: 1;
  bottom: -36px;
}
.tinkoff {
  background: #ffdd2d;
}
.tinkoff__icon {
  height: 30px;
  display: flex;
}
.tinkoff__icon svg {
  height: 100%;
}
.modal {
  background: #f2f2f2;
  padding: 24px;
  border-radius: 24px;
  height: min-content;
  transform: translateY(20px);
}
.modal__wrapper {
  position: fixed;
  display: flex;
  padding-top: 20vh;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease;
}
.modal__wrapper.open {
  opacity: 1;
  z-index: 10;
}
.modal__startButton {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 12px;
  transition: 0.15s;
}
.modal__startButton.download {
  background: white;
  transition: 0.1s;
}
.modal__startButton.download:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}
.modal__startButton.support {
  background: #ffdd2d;
  font-weight: bold;
}
.modal__startButton.support:hover {
  background: #f9d100;
}
.modal__header {
  color: black;
  font-weight: bold;
  margin-bottom: 32px;
}
.mainLogo {
  position: fixed;
  z-index: 4;
  height: 18px;
  left: 72px;
  top: 32px;
  transform: translateY(-10px);
  opacity: 0;
  transition: 0.3s ease-in;
}
.mainLogo.show {
  transform: translateY(0);
  opacity: 1;
}
.mainLogo svg {
  height: 100%;
}
.test {
  position: fixed;
  z-index: 33;
  max-height: 100vh;
  top: 0;
  left: 0;
  background: black;
  color: white;
  padding: 24px;
  overflow-y: auto;
}
/* Responsive layout - makes a two column-layout instead of four columns */
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .cursor,
  .cursorDot {
    display: none;
  }
  .overlay__logotype {
    transform: scale(0.6);
  }
  .mainLogo {
    top: 24px;
    left: 50%;
    transform: translate(-50%, -10px);
  }
  .mainLogo.show {
    transform: translate(-50%, 0);
  }
  .heading {
    top: 48px;
    padding: 12px 24px;
    background: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    width: calc(100% - 72px);
    border-radius: 16px;
  }
  .heading h1 {
    display: none;
  }
  .heading__description {
    font-size: 0.7rem;
  }
  .description {
    font-size: 0.7rem;
    bottom: 24px;
    padding: 12px 24px;
    margin: auto;
    width: calc(100% - 72px);
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.6);
  }
  .modal__wrapper {
    padding-top: 5vh;
  }
}