/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .cursor,
  .cursorDot {
    display: none;
  }
  .headerLogo {
    top: 32px;
    left: 50%;
    transform: translate(-50%, -10px);

    &.show {
      transform: translate(-50%, 0);
    }
  }
  .heading {
    top: 64px;
    padding: 12px 24px;
    width: calc(100% - 48px);
    bottom: auto;
    left: auto;
    right: 50%;
    transform: translate(50%, -10px);

    &.show {
      transform: translate(50%, 0);
    }

    h1 {
      display: none;
    }

    &__description {
      font-size: 0.7rem;
      text-align: center;
    }
  }
  .description {
    font-size: 0.7rem;
    bottom: 24px;
    padding: 12px 24px;
    margin: auto;
    width: calc(100% - 72px);
  }

  .modal {
    transform: translateY(300px);

    &.hide {
      transform: translateY(300px);
    }

    &__wrapper {
      padding-bottom: 24px;
    }
  }

  .social {
    right: auto;
    top: auto;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%, 10px);

    &.show {
      transform: translate(-50%, 0);
    }
  }
}