/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .cursor,
  .cursorDot {
    display: none;
  }
  .headerLogo {
    top: 32px;
    left: 50%;
    transform: translate(-50%, -10px);

    &.show {
      transform: translate(-50%, 0);
    }
  }
  .heading {
    top: 64px;
    padding: 12px 24px;
    margin: 0 auto;
    width: calc(100% - 72px);

    h1 {
      display: none;
    }

    &__description {
      font-size: 0.7rem;
    }
  }
  .description {
    font-size: 0.7rem;
    bottom: 24px;
    padding: 12px 24px;
    margin: auto;
    width: calc(100% - 72px);
  }

  .copySuccess {
    display: flex;
    top: -52px;
    bottom: auto;
    transition: 0.15s ease-in;

    &.active {
      opacity: 1;
      bottom: auto;
    }
  }

  .modal {
    transform: translateY(300px);

    &.hide {
      transform: translateY(300px);
      opacity: 1;
    }

    &__wrapper {
      align-items: flex-end;
      padding-bottom: 24px;
    }
  }
}