@import "variables";

.overlay {
  position: fixed;
  z-index: 222;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;

  &__logotype {
    position: relative;
    transition: 0.3s;

    &.hide {
      opacity: 0;
    }
  }

  &.hideAnimation {
    transition: 1s;
    opacity: 0;
  }

  &.hide {
    z-index: -1;

    .logo {
      &__skull, &__pen, &__heart, &__animItems {
        animation: none;
        opacity: 0;
      }

      &__oLeft {
        animation: none;
        //transform: translateX(0);
      }
    }
  }
}

.logo {
  height: 28px;
  width: 130px;
  position: relative;

  path, rect {
    fill: white;
  }

  &__animItems {
    transform: translate(-8px, 15px);
  }

  &__oLeft {
    animation: $introDuration leftOAnimation cubic-bezier(0.65, 0.01, 0.62, 0.99) infinite;
  }

  &__full {
    transform: translateX(12px);
  }

  &__animItems {
    animation: $introDuration groupAnimation infinite;
    position: relative;
    width: 0;
    height: 0;
  }

  &__animItem {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 100%;
    }
  }

  &__heart {
    animation: $introItemDuration heartAnim linear infinite;
    fill: $red !important;
  }

  &__pen {
    animation: $introItemDuration penAnim linear infinite;
    fill: $green !important;
    position: relative;
    width: 14px;
    top: -10px;
  }

  &__code {
    animation: $introItemDuration penAnim linear infinite;
    fill: $green !important;
    position: relative;
    width: 32px;
    height: 10px;
    top: 2px;

    svg {
      width: 100%;
      height: 100%;
    }
  }


  &__skull {
    animation: $introItemDuration skullAnim linear infinite;
    fill: $accent !important;
  }
}

@keyframes penAnim {
  0%, 35% {
    opacity: 0;
  }
  36%, 63% {
    opacity: 1;
  }
  64%, 100% {
    opacity: 0;
  }
}

@keyframes skullAnim {
  0%, 65% {
    opacity: 0;
    transform: translateY(0);
  }
  66%, 100% {
    opacity: 1;
    transform: translateY(-5px);
  }
}

@keyframes heartAnim {
  0%, 32% {
    opacity: 1;
  }
  33%, 100% {
    opacity: 0;
  }
}

@keyframes hideAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes stopOAnimation {
  100% {
    transform: translateX(0);
  }
}

@keyframes groupAnimation {
  0% {
    transform: translate(41px, 5px);
    opacity: 0;
  }
  15%, 80% {
    transform: translate(41px, 5px);
    opacity: 1;
  }
  100% {
    transform: translate(41px, 5px);
    opacity: 0;
  }
}

@keyframes leftOAnimation {
  0% {
    transform: translateX(00px);
  }
  10%, 90% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(00px);
  }
}